<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NODE JS BASIC</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/upload-file">Upload Files</a>
    </div>

    <div>
        <div class="w3-container">
            <h2 style="color: red; text-align: center;"><b>List Users Table</b></h2>
            <table class="w3-table-all w3-hoverable">
                <thead>
                    <tr class="w3-light-grey">
                        <th>Code</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>PhoneNumber</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i < dataUser.length; i++) { %>
                        <tr>
                            <td>
                                <%= dataUser[i].Code %>
                            </td>
                            <td>
                                <%= dataUser[i].Name %>
                            </td>
                            <td>
                                <%= dataUser[i].Email %>
                            </td>
                            <td>
                                <%= dataUser[i].PhoneNumber %>
                            </td>
                            <td>
                                <%= dataUser[i].Address %>
                            </td>
                            <td class="abc">
                                <form action="/detail/user" method="get">
                                    <button type="button"><a href="/detail/user/<%= dataUser[i].Code %>"
                                            target="_blank">Details</a></button>
                                </form>

                                <form action="/delete/user" method="post">
                                    <input type="text" hidden value="<%= dataUser[i].Code %>" name="codeUser" />
                                    <button type="submit">Delete</button>
                                </form>

                                <form action="/update/user/<%= dataUser[i].Code %>" method="get">
                                    <button type="submit">Update</button>
                                </form>

                            </td>
                        </tr>
                        <% } %>
                </tbody>


            </table>
        </div>
    </div>

    <div class="create-account-contaner">
        <form action="/create-new-user" method="post">
            <div><b>CREATE ACCOUT</b></div>
            <div>
                <label>NAME</label>
                <input type="text" name="NAME">
            </div>
            <div>
                <label>EMAIL</label>
                <input type="email" name="EMAIL">
            </div>
            <div>
                <label>PHONE NUMBER</label>
                <input type="text" name="PHONENUMBER">
            </div>
            <div>
                <label>ADDRESS</label>
                <input type="text" name="ADDRESS">
            </div>
            <div>
                <button type="submit">SUBMIT</button>
            </div>
        </form>

    </div>
</body>

</html>